<ion-view view-title="leadPage">
  <ion-content class="padding leadPage-container">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box blue">
          <h1>我所想</h1>
          <h5>编程应该用来改变生活，而不仅仅只是一项谋生的技能。</h5>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow">
          <h1>此所有</h1>
          <h5>如果你也喜欢科技，就和我一起去探索程序的秘密吧！</h5>
          <h5>在这款手机应中，将会包含如下功能：</h5>
          <ul class="app-content">
            <li><b>免费小说</b>，使用pathon趴诸如百度贴吧，起点小说网等知名小说网站</li>
            <li><b>存钱罐</b>，存容易，取现得延迟，帮助你积攒更多的钱</li>
            <li><b>todoList</b>，管理你的时间，让工作生活更高效</li>
            <li><b>电脑和手机互传文件</b>，摆脱QQ，微信传文件，来点更直接，更快捷的</li>
            <li><b>物品跟踪</b>，再也不用担心重要物品遗漏或者丢失了</li>
          </ul>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <h1>所以，你准备好出发了吗？</h1>
          <h5>开启科技生活</h5>
          <a href="#/app/dash">
            <button class="button button-positive">
              立即体验
            </button>
          </a>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
