<ion-view view-title="registe">
  <ion-content class="padding registe-container">
    <form name="registeForm" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="username" name="username" required ng-minlength="6" ng-model="username">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="email" name="email" ng-model="email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="password" name="password" ng-minlength="8" ng-model="password">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="conform password" name="confirmPassword" ng-minlength="8" ng-model="confirmPassword">
        </label>
      </div>
      <button class="button button-block button-positive" ng-click="doRegiste()">
        立即注册
      </button>
    </form>
  </ion-content>
</ion-view>