<ion-view view-title="main">
  <ion-content class="main-container" overflow-scroll="false">
    <div class="bar bar-header bar-calm">
      <h1 class="title">MyApp</h1>
      <button class="button icon ion-ios-arrow-left"></button>
    </div>
    <div style="height: 44px; width: 100%">内容填充</div>
    <!--tab start-->
    <ion-tabs class="tabs-striped tabs-color-calm mytabs">

      <ion-tab title="我的应用" icon-on="ion-ios-keypad" icon-off="ion-ios-keypad-outline" href="#/app/main/applist">
        我的应用
        <ion-nav-view name="main-applist"></ion-nav-view>
      </ion-tab>

      <ion-tab title="我的消息" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="#/app/main/message" badge="2" badge-style="tabs-energized">
        我的消息
        <ion-nav-view name="main-message"></ion-nav-view>
      </ion-tab>

      <ion-tab title="设置" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/app/main/setting">
        设置
        <ion-nav-view name="main-setting"></ion-nav-view>
      </ion-tab>

    </ion-tabs>

    <!--tab end-->
  </ion-content>
</ion-view>